<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<!-- Modal backup -->
<div th:fragment="modal-delete" class="modal fade modalDelete">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5 class="modal-title">DELETE</h5>
      </div>

      <div class="modal-body">
        <label class="control-label"> <span> ARE YOU SURE TO DELETE ?</span></label>
        </br>
        </br>
        <label class="control-label"> <span>  File Name : {{removeFile}} </span></label>
        </br>
        <label class="control-label"> <span>  Date Import : {{removeDate}} </span></label>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary btnBackupDevice" ng-click="onRemove(removeDate,removeFile)" style="width: 100px">OK</button>
        <button type="button" class="btn btn-link" data-dismiss="modal" style="width: 100px"> Cancel</button>
      </div>

    </div>
  </div>
</div>
<!-- /Modal backup -->
</body>
</html>