<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<!-- Modal backup -->
<div th:fragment="modal-edit" class="modal fade modalEdit">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5 class="modal-title"> Edit Note </h5>
      </div>

      <div class="modal-body">
        <label class="control-label"> <span> NOTE </span>:</label>
        <div>
          <input type="text" class="form-control" ng-model="noteEdit">
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary btnBackupDevice" ng-click="onEditNoteConfirm()" style="width: 100px">OK</button>
        <button type="button" class="btn btn-link" data-dismiss="modal" style="width: 100px"> Cancel</button>
      </div>

    </div>
  </div>
</div>
<!-- /Modal backup -->
</body>
</html>
